.container {
    width: 339px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #211A75;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    margin-top: 40px;
    transform: rotate(5.032deg);
    border-radius: 14px;
background: #211A75;

/* Shadow-Black02 */
box-shadow: 20px 26px 34px 0px rgba(0, 0, 0, 0.48);
margin-left: 54px;
}

.status{
    display: flex;
    justify-content: space-around;
    /* transform: rotate(5.032deg); */
    
}
.titleStuffs{
    width: 70%;
    margin-top: 30px;
    /* transform: rotate(5.032deg); */

}
.seriousTitle {
    color: var(--Yellow, #FFAB2D);
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 10px;
    /* transform: rotate(5.032deg); */
}

.seriouDots {
    margin-top: 30px;

    width: 24px;
    height: 24px;
    flex-shrink: 0;
    /* transform: rotate(5.032deg); */
}


/* topic */

.topic{
    width: 279px;
    color: var(--White, #FFF);
font-family: Cairo;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 166.667% */
align-items: center;
margin-left: 30px;
/* transform: rotate(5.032deg); */
/* text-align: center; */
}
.progressbar{
    width: 279px;
height: 7px;
flex-shrink: 0;
border-radius: 16px;
background: var(--Dark04, #1E1C3A);
margin-left: 30px;
/* transform: rotate(5.032deg); */

}

/*  */
.people{
    display: flex;
    align-items: center;
    /* transform: rotate(5.032deg); */
}
.peopleLove{
    margin-left: 30px;
    margin-top: 10px;
    /* transform: rotate(5.032deg); */
}

.peopleTime{
    width: 16px;
height: 16px;
flex-shrink: 0;
margin-top: 10px;
margin-left: 57px;
/* transform: rotate(5.032deg); */

}

.peopleDue{

    color: var(--Grey-01, #A5A5A5);
text-align: right;
font-family: Open Sans;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 12px;
margin-left: 8px;
/* transform: rotate(5.032deg); */

}